#map {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
}

.fixed_header {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 900px;
}

.fixed_header ::-webkit-scrollbar {
  display: none;
}

.fixed_header thead tr {
  display: flex;
  width: 100%;
}

.fixed_header thead {
  background: black;
  color: #fff;
}

.fixed_header th, .fixed_header td {
  padding: 12px;
  text-align: left;
}

.fixed_header tbody tr {
  display: flex;
  width: 100%;
}

h1 {
  text-align: center;
}

h2, h3, h4, p {
  font-size: 1.5rem;
  text-align: center;
}

p {
  margin-bottom: 4px;
}

span {
  font-weight: 600;
}

div.mission-photo {
  height: 300px;
  width: 300px;
}

img {
  width: 300px;
}

.misission-photo-title {
  font-size: 1rem;
  line-height: 1rem;
}

.map-canvas {
  height: 350px;
}

tr.hover-row:hover {
  border: 3px solid black;
}

@media (max-device-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h2, h3, h4, p {
    font-size: 1rem;
  }
}

@media (max-device-width: 375px) {
  h1, h2, h3, h4, p {
    margin-bottom: 4px;
  }
}

@media (max-device-height: 1024px) {
  #upcoming-tbody {
    height: 700px;
  }
}

@media (max-device-height: 812px) {
  #upcoming-tbody {
    height: 200px;
  }
}

@media (min-device-width: 1000px) and (max-device-height: 812px) {
  #upcoming-tbody {
    height: 700px;
  }
}
