#map {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
}

#upcoming-tbody {
  height: 800px;
  width: 100%;
  overflow-y: scroll;
  display: block;
}

.table-fixed tr, .table-fixed td {
  display: block;
}

.table-fixed tbody td, .table-fixed thead>tr>th {
  float: left;
  position: relative;
}

.col-10 {
  text-align: center;
}

h1 {
  text-align: center;
}

h2, h3, h4, p {
  font-size: 1.5rem;
  text-align: center;
}

p {
  margin-bottom: 4px;
}

span {
  font-weight: 600;
}

div.mission-photo {
  height: 300px;
  width: 300px;
}

img {
  width: 300px;
}

.misission-photo-title {
  font-size: 1rem;
  line-height: 1rem;
}

.map-canvas {
  height: 350px;
}

tr.hover-row:hover {
  border: 3px solid black;
}

@media (max-device-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h2, h3, h4, p {
    font-size: 1rem;
  }
}

@media (max-device-width: 375px) {
  h1, h2, h3, h4, p {
    margin-bottom: 4px;
  }
}

@media (max-device-height: 1024px) {
  #upcoming-tbody {
    height: 700px;
  }
}

@media (max-device-height: 812px) {
  #upcoming-tbody {
    height: 200px;
  }
}

@media (min-device-width: 1000px) and (max-device-height: 812px) {
  #upcoming-tbody {
    height: 700px;
  }
}
